.levelName {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.currentName {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    padding: 0 60px;
    font-weight: bold;
    margin-top: 15%;
}

.navigate > i {
    font-size: 20px;
    margin-top: 10%;
}

.Card {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 20px;
}

.Card > img {
    width: 100%!important;
}

.levelBar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Balance {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    margin: 5px;
}

.LeaderboardTable > p {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 5px;
}

.DataTable {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inter', sans-serif;
}

.User {
    display: flex;
    align-items: center; /* Vertically center items */
    justify-content: center; /* Horizontally center items */
    gap: 20px; /* Add some space between elements */
    padding: 5px 0;
}

.Position {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(to bottom, #EDA016 0%, #99693B 50%, #704E4D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Divider {
    width: 90%;
    margin: 5px auto; /* Center divider with spacing */
    border: none;
    border-top: 1px solid #ddd; /* Custom top border */
}

.UserRow {
  display: flex;
  justify-content: space-between; /* Space out content between left and right sections */
  align-items: center; /* Vertically center items */
  padding: 0px 20px; /* Add padding for consistent spacing */
}

.UserInfo {
  display: flex;
  gap: 10px; /* Space between position and username */
  align-items: center; /* Vertically center position and username */
}

.Position {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to bottom, #EDA016 0%, #99693B 50%, #704E4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 40px; /* Fixed width for consistent positioning */
  text-align: left; /* Align text to the left */
}

.Username {
  font-size: 28px;
  color: #090E05;
  text-align: left; /* Align text to the left */
  font-weight: 600;
  font-family: 'Inter', sans-serif;
}

.UserBalance {
  display: flex;
  align-items: center; /* Vertically center balance and image */
  gap: 0px; /* Space between balance and image */
}

.Balance {
  font-size: 24px;
  color: #090E05;
  margin-right: 10px; 
}

.UserImage {
  width: 30px;
  margin-left: auto; 
}

.Divider {
  width: 90%;
  margin: 5px auto;
  border: none;
  border-top: 1px solid #ddd; /* Customize divider */
}



/* .Divider {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Divider > hr {
    margin: 3px;
} */