.myNavbar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    bottom: 5%;
    left: 0;
    right: 0;
    box-shadow: -2px -19px 24px 0px rgba(34, 60, 80, 0.2);
}

.active {
    color: #428BF9;
}

.icon {
    margin: 5px;
}

.navItem img {
    width: 24px;
}

.navItem {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #707070;
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
}
