.EarnWrap {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
}

.Header {
    text-align: center;
}

.Header h2 {
    margin: 0px;
    font-size: 31px;
}

.Tasks {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
}

.Tasks > img {
    width: 47px;
}

.Tasks > h4 {
    color:#707070;
}

.Header > img {
    width:45%;
}

.tgTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(10deg, #5792a9, transparent);
    margin-top: 5px;
}

.igTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(10deg, #5792a9, transparent);
    margin-top: 5px;
}

.ytTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(10deg, #c54646, transparent);
    margin-top: 5px;
}

.ytTask > .taskIcon > img {
    width:47px;
}

.xTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(10deg, #000000, transparent);
    margin-top: 5px;
}

.facebookTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(10deg, #5792a9, transparent);
    margin-top: 5px;
}

.taskIcon {
    width: 20%;
}

.taskIcon > img {
    width: 47px;
}

.taskPool{
    margin-left: auto;
    display: flex;
}

.taskPool > img {
    width: 24px;
    height: 24px;
    margin-top: 12px;
}