.EarnWrap {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
}

.Header {
    text-align: center;
}

.Header h2 {
    margin: 0px;
    font-size: 31px;
}

.Tasks {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 10px;
    color: white;
}

.Tasks > img {
    width: 47px;
}

.Tasks > h4 {
    color:#707070;
}

.Header > img {
    width:45%;
}

.tgTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(
    to right,
    #1c92d2,#f2fcfe
  );
    margin-top: 5px;
}

.Task {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    margin-top: 5px;
}

.ytTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(
    to right,
    #e52d27,#b31217
  );
    margin-top: 5px;
}

.ytTask > .taskIcon > img {
    width:47px;
}

.xTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(
    to right,
    #232526,#414345
  );
    margin-top: 5px;
}

.facebookTask {
    display:flex;
    padding: 5px 15px 0 0;
    border-radius: 10px;
    background: linear-gradient(to right,#00c6ff,#0072ff); 
    margin-top: 5px;
}

.taskIcon {
    width: 20%;
}

.taskIcon > img {
    width: 47px;
    margin-left: 10px;
}

.taskTitle {
    width: 53%;
    margin-left: 5px;
}

.taskPool{
    display: flex;
    margin-left: auto;
}

.taskPool > p {
    margin-right: 5px;
}

.taskPool > img {
    width: 24px;
    height: 24px;
    margin-top: 13px;
}